* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}